<launch>
    <!-- image brightness & contrast compensation of ground-projected image -->
    <node pkg="aicon_camp1_core" type="traffic_light_node_controller" name="traffic_light_node_controller" output="screen" />
    <node pkg="aicon_camp1_core" type="traffic_light_mode_decider" name="traffic_light_mode_decider" output="screen" />
</launch>
